h1{
    text-align:center;
    color:rgb(158, 6, 64);
}
#p2{
    color:rgb(236, 69, 139);
}
#p1{
    color:rgba(241, 15, 102, 0.89);
}

#Home-intro{
    text-align:center;
    /*border:3px;
    border-color:black;
    border-style: solid;*/
    border:3px solid black;
    background-color: rgb(252, 243, 248);
}
#Home-intro:hover{
    background-color:rgb(39, 5, 5);
}
#nav{
    text-align:center;
    border:3px solid aqua(223, 26, 26);
    height:25px;
    padding-top:5px;
    background-color: rgb(1, 29, 29);
}
#nav a{
margin:0px 5px;
/*y-axis ,x-axis*/
color:rgb(142, 229, 229);
text-decoration:none;
/*no underlines under text*/
}
#card{
    text-align:center;
    align-items:center;
    width:430px;
    height:500px;
    border:3px solid black;
    margin:3px auto;
    border-radius: 8px;
}
#card-img{
    border:3px auto black;
    height:250px;
}
#card-name{
    text-align: center;
    -webkit-text-fill-color: rgb(7, 95, 95);

}
#card-gender{
    text-align:center;
    -webkit-text-fill-color: deeppink;
}
#Toggle{
    text-align:center;
    
    -webkit-text-fill-color: rgb(104, 218, 142);
}
button{
    width:100%;
}
